<header>
  <div class="container">
    <div class="row">
      <div class="col-5">
        <span class="header-title">RANDOM COFFEE</span>
      </div>
      <div class="col-2">
        <div class="logo">
          <img src="assets/logo.png">
        </div>
      </div>
      <div class="col-5 navbar">
        <div class="menu">
          <ul>
            <li>
              <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li>
              <a class="nav-link" routerLink="/product" routerLinkActive="active">Our Products</a>
            </li>
<!--            <li>-->
<!--              <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a class="nav-link" routerLink="/product" routerLinkActive="active">Explore Our Products</a>-->
<!--            </li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
